body {
    margin: 0;
    overflow: hidden;
}

nav {
    background-color: rgb(40, 40, 255);
    height: 60px;
    display: flex;
    padding-left: 8%;
    align-items: center;
}

.bar {
    width: 100%;
    background-color: rgb(255, 44, 16);
    position: fixed;
    top: 0;
    height: 3px;
}

section {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 90vh;
}

.card-container {
    display: flex;
    column-gap: 20px;
    padding-left: 8%;
}

button {
    height: 40px;
    background-color: orange;
    color: white;
    border: none;
    padding-inline: 20px;
}

.btn-container {
    padding-left: 8%;
    align-items: center;
    width: 92%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.text {
    color: white;
    font-size: 32px;
    font-family: sans-serif;
}

.card-1 {
    width: 380px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0;
    background-color: white;
}

.card-2 {
    width: 750px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0;
    background-color: white;
}

.btn-container .right {
    margin-right: 8%;
}

.right {
    
}